- @page = "about"
- content_for :title, @page.titleize

.container
  markdown:
    # About DatRepo

    The quantity of high-quality open datasets in the world is growing tremendously each year. This data, which can come from governments, corporations, or collaborations of individuals, is extremely valuable to society at large because of the trends and associations that can be found within it. Despite this proliferation of data, there is no existing service to organize, categorize and expose the most useful datasets to researchers.

    DatRepo is designed to be this service, and with time its capabilities will expand to make finding and using high-quality datasets even easier.

