.message-area {
  margin-bottom: 20px;
}

.alert {
  text-align: center;
  border-radius: 0;
}

// .message-notice {
//   @extend .message;
//   @extend .alert-info;
// }

// .message-alert {
//   @extend .message;
//   @extend .alert-warning;
// }