.narrow {
  max-width: 800px;
}

.show-dataset {
  .edit-button {
    margin-bottom: 0;
  }

  .dataset-title {
    margin-bottom: 0px;
  }

  .license {
    color: #aaa;

    h2 {
      text-transform: uppercase;
      font-size: 1.2em;
    }
  }

  .username {
    font-style: italic;
    margin-bottom: 20px;
  }
}

.edit-dataset {
  .panel {
    margin-bottom: 20px;
  }
}

.sidebar {
  $border: 1px solid #aaa;

  margin-top: 40px;
  border: $border;
  border-radius: 3px;

  .clone-box {
    padding: 3px 8px;
    height: 28px;
  }

  .actions {
    padding: 8px;
    border-bottom: $border;

    &.last {
      border-bottom: 0;
    }
  }

  .action-group {
    width: 100%;
    margin: 5px 0 7px;

    .action-button {
      @extend .btn-info;

      border-top-right-radius: 0;
      border-bottom-right-radius: 0;

    }

    .action-show {
      @extend .form-control;
      width: auto;
      display: inline-block;

      border-left: 0;
      border-top-left-radius: 0;
      border-bottom-left-radius: 0;

      overflow: hidden;
      overflow: ellipsis;

      a {
        text-decoration: underline;
      }
    }

    .clone {
      background: #fff;
    }
  }
}

