// Place all the styles related to the Datasets controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.datasets-empty {
  margin-top: 10px;
  color: #A09E9E;
}

.narrow {
  max-width: 800px;
}

.show-dataset {
  .edit-button {
    margin-bottom: 0;
  }
}

.license {
  color: #aaa;

  h2 {
    text-transform: uppercase;
    font-size: 1.2em;
  }
}

.actions {
  margin-top: 40px;
  border: 1px solid #aaa;
  border-radius: 3px;
  padding-bottom: 13px;

  .clone-box {
    padding: 3px 8px;
    height: 28px;
  }
}

.dataset-count {
  color: #aaa;
}

.search-bar {
  margin-bottom: 24px;
}