.devise_form {
  max-width: 450px;

  .links {
    margin-top: 18px;
  }

  #error_explanation {
    margin-bottom: 25px;
    padding: 10px;
    border-radius: 8px;
    background: #FCDDDD;
    border: 2px solid #F14545;
    color: #8A1E1E;

    h2 {
      margin: 0;
      font-size: 1.4em;
    }
  }
}